<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$']]
        }
      };
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        <img src="https://github.com/sluxsr/sluxsr.github.io/blob/master/pics/icon.JPG?raw=true" align="center" width="250"/>
        

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <!-- <p> Shengyao Lu (陆晟瑶) is an incoming Assistant Professor in the department of Computer Science (CS) at the University of Victoria (UVic). She received her BSc. and Ph.D. degree at the <a href="https://www.ualberta.ca/en/index.html">University of Alberta</a>, advised by <a href="https://sites.ualberta.ca/~dniu/Homepage/Home.html">Prof. Di Niu</a>. Her research interests primarily lie in the areas of Explainbale AI (XAI), Graph Neural Networks (GNNs), theory and techniques for AGI (e.g., understanding and improving large language models). </p>

        <p> <strong>Openings:</strong> I am looking for highly-motivated students starting Spring/Fall 2026. Please send me your CV if interested.</p> -->

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="../anotherpage.html"> Visit my <strong>Blog</strong></a></li>
          <li><a href="https://scholar.google.ca/citations?user=MSsab9EAAAAJ&hl=en">Google <strong> Scholar</strong></a></li>
          <li><a href="https://ca.linkedin.com/in/shengyao-lu-3a4642106">Check my<strong>LinkedIn</strong></a></li>
        </ul>
        {% endif %}
        <p><strong>Email</strong>: shengyaolu [at] uvic [dot] ca</p>
        <p> <strong>Research interests</strong>: Interpretability, Systematicity, Graph Neural Networks, Graph Isomorphism. </p>
        <p> </p>
        <!-- <p> <strong>Academic services</strong>: Reviewer of AAAI'26, NeurIPS'25, ICCV'25, ICML'25, CVPR'25, AISTATS'25, ICLR'25, AAAI'25, NeurIPS'24, CVPR'24, KDD'24. Journal: Neural Networks </p> -->
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Updated: Aug 2025. </a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
